<table class="table" ng-if="department.days.collaborators.length>0">
    <thead>
        <tr>
            <td>
                <strong>
                    <a ng-if="department.days.adminLink" href="#/admin/departments/{{department._id}}">
                        <i class="fa fa-group"></i> {{department.name}}
                    </a>
                </strong>
            </td>
            <th style="width:7ex" class="text-center vgradiant" ng-repeat="col in department.days.collaborators[0].days" ng-class="{'hidden-xs': $index>7 }">
                <span data-title="{{col.date|date}}" bs-tooltip>{{col.date|date:'d'}}</span>
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td></td>
            <td>
                <button type="button" class="btn btn-default" title="{{'Previous page'|translate}}">
                    <i class="fa fa-chevron-circle-left"></i>
                </button>
            </td>
            <td colspan="6"></td>
            <td class="hidden-lg hidden-md hidden-sm">
                <button type="button" class="btn btn-default" title="{{'Next page'|translate}}">
                    <i class="fa fa-chevron-circle-right"></i>
                </button>
            </td>
            <td class="hidden-xs" colspan="6"></td>
            <td class="hidden-xs">
                <button type="button" class="btn btn-default" title="{{'Next page'|translate}}">
                    <i class="fa fa-chevron-circle-right"></i>
                </button>
            </td>
        </tr>
    </tfoot>
    <tbody>
        <tr ng-repeat="collaborator in department.days.collaborators">
            <th class="active" ng-class="{ 'btn-link': department.days.adminLink }" ng-click="department.days.viewCollaborator(collaborator)">
                <img class="img-rounded" ng-src="{{collaborator.image}}" data-title="{{collaborator.lastname}} {{collaborator.firstname}}" height="35" bs-tooltip />
                <i class="user-35 fa fa-user fa-2x" ng-if="!collaborator.image" title="{{collaborator.lastname}} {{collaborator.firstname}}" bs-tooltip></i>
                <span class="hidden-sm hidden-xs">{{collaborator.lastname}} {{collaborator.firstname}}</span>
            </th>

            <td class="text-center"
                ng-repeat="col in collaborator.days"
                ng-class="{'danger': !col.free, 'success': col.free,'hidden-xs': $index>7 }"
                >
                <i class="text-muted fa fa-times nonworkingday" ng-if="col.nonworkingday" data-title="{{col.nonworkingday.summary}}" bs-tooltip></i>
                <i ng-repeat="event in col.events"
                   class="text-muted fa"
                   ng-class="{ 'fa-calendar-check-o': event.status!='TENTATIVE', 'fa-calendar-times-o': event.status=='TENTATIVE' }"
                   data-title="{{event.dtstart|date:'shortTime'}} - {{event.dtend|date:'shortTime'}}" bs-tooltip></i>
            </td>
        </tr>
    </tbody>
</table>
