public/bower_components/*
node_modules/*
public/fonts/*.ttf
public/fonts/*.woff*
*.min.js
*.min.js.map
*.min.css
/config.js
.nodemonignore
/bower_components
/node_modules
po/*.mo
/doc/
/coverage/
/public/js/optimized.js
/public/js/translation.js
.tags
/test/doc/screenshots/*
