<div class="row">
	<div class="col-xs-12 col-sm-9">
		
		<h3 class="row"><span translate>Vacation request</span></h3>

        <ng-include src="'partials/utils/common/request/absence-view.html'"></ng-include>

	</div>
	
	<div class="col-xs-12 col-sm-3">
		
		<div class="panel panel-info hidden-xs">
            <div class="panel-heading">
                <h3 class="panel-title" translate>Owner user account</h3>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <img ng-src="{{request.user.id.image}}" class="img-rounded" />
                    <h4><a href="#/admin/users/{{request.user.id._id}}">{{request.user.name}}</a></h4>
                </div>

                <dl>
                    <dt translate>Department</dt>
                    <dd>{{request.user.department}}</dd>

                    <dt ng-if="1 === request.approvalSteps[0].approvers.length"><span translate>Supervisor</span></dt>
                    <dt ng-if="1 < request.approvalSteps[0].approvers.length"><span translate>Supervisors</span></dt>
                    <dd ng-repeat="approver in request.approvalSteps[0].approvers">
                        <a href="#/admin/users/{{approver._id}}">
                            <img ng-if="approver.image" ng-src="{{approver.image}}" height="20" />
                            {{approver.lastname}} {{approver.firstname}}
                        </a>
                    </dd>
                </dl>

            </div>
        </div>
		
	</div>
</div>
