<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" translate>Create a request on behalf of a user</h4>
            </div>
            <div class="modal-body">
                
                <div class="col-md-2 top10" ng-if="user.imageUrl">
                    <img ng-src="{{user.imageUrl}}" style="width:100%;" class="img-rounded" /><br />
                </div>

                <div class="col-md-10">
                    <h3>{{user.lastname}} {{user.firstname}}</h3>

                    <dl class="dl-horizontal">
                        <dt translate>Department:</dt>        <dd>{{user.department.name}}</dd>
                        <dt translate>Collection:</dt>        <dd>{{user.roles.account.currentCollection.name}}</dd>
                    </dl>
                </div>

                <ng-include src="'partials/utils/common/request/request-create-select-type.html'"></ng-include>
            </div>
        </div>
    </div>
</div>
