<div class="row panel panel-primary">

    <h2 class="col-sm-12"><i class="fa fa-asterisk" style="color:{{beneficiary.right.type.color}}" title="{{beneficiary.right.type.name}}"></i> {{beneficiary.right.name}}</h2>
    <div class="col-sm-12"><p class="lead">{{beneficiary.right.description}}</p></div>
    <div class="col-sm-6">
        <p>
            <span translate>Type:</span> {{beneficiary.right.type.name}}
        </p>
        <p>
            <span translate>Default quantity on start renewal:</span> {{beneficiary.right.quantity | number:1}} {{beneficiary.right.quantity_dispUnit}}
        </p>
        <p ng-if="beneficiary.right.addMonthly.quantity">
            <span translate>Monthly additions:</span> {{beneficiary.right.addMonthly.quantity | number:1}} {{beneficiary.right.quantity_dispUnit}}
        </p>
    </div>

    <div class="col-sm-6">
        <p ng-if="beneficiary.right.require_approval"><i class="fa fa-lock text-danger"></i> <span translate>Require approval</span></p>
        <p ng-if="!beneficiary.right.require_approval"><i class="fa fa-unlock-alt text-success"></i> <span translate>Do not require approval</span></p>


        <ol>
            <li ng-repeat="rule in beneficiary.right.rules">{{rule.title}}</li>
        </ol>
    </div>
</div>


<div class="hidden-md hidden-sm hidden-xs">
    <nvd3-line-chart
        data="timedAvailableQuantity"
        width="850"
        height="200"
        showXAxis="true"
        showYAxis="true"
        isArea="false"
        xAxisTickFormat="xAxisTickFormat_Date_Format()"
        interpolate="step-after"
         interactive="true"
         useInteractiveGuideLine="true"
         tooltips="true"
        >
            <svg></svg>
    </nvd3-line-chart>
</div>

<div ng-model="activePanel" class="panel-group row panel panel-{{renewal.paneltype}}" ng-repeat="renewal in beneficiary.renewals" role="tablist" aria-multiselectable="true" bs-collapse>

    <div class="panel-heading pointer" role="tab" bs-collapse-toggle>
        <i class="fa fa-retweet"></i> &nbsp; From <strong>{{renewal.start|date}}</strong> to <strong>{{renewal.finish|date}}</strong>
    </div>

    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt translate>Initial quantity:</dt>    <dd>{{renewal.initial_quantity | number:1}} {{renewal.initial_quantity_dispUnit}}</dd>
                <dt translate>Consumed:</dt>   <dd>{{renewal.consumed_quantity | number:1}} {{renewal.consumed_quantity_dispUnit}}</dd>
                <dt translate>Available:</dt>  <dd>{{renewal.available_quantity | number:1}} {{renewal.available_quantity_dispUnit}}</dd>
            </dl>
        </div>

        <table class="table" ng-if="renewal.combinedAdjustments.length>0">
            <thead>
                <tr>
                    <th width="20%">Date</th>
                    <th width="20%" class="hidden-xs">Author</th>
                    <th width="20%">Quantity</th>
                    <th>Comment</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="adjustment in renewal.combinedAdjustments">
                    <td>{{adjustment.from|date}}<span class="hidden-xs"> {{adjustment.from|date:'HH:mm'}}</span></td>
                    <td class="hidden-xs">{{adjustment.userCreated.name}}</td>
                    <td><span ng-if="adjustment.quantity>0">+</span>{{adjustment.quantity | number:1}} {{renewal.initial_quantity_dispUnit}}</td>
                    <td>{{adjustment.comment}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
