<div class="row">

    <div class="col-sm-3">
        <div class="row text-center">
            <button type="button" class="top15 btn btn-default" ng-click="setImage(user)">

              <img class="img-rounded" ng-src="{{user.image}}" />
                <div ng-if="!user.image" style="width:60px; height:60px"><small>Photo</small></div>
            </button>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="form-group col-md-6 col-sm-6">
                <label for="user_firstname" translate>Firstname</label>
                <input type="text" class="form-control" id="user_firstname" ng-model="user.firstname" ng-required="true" />
            </div>

            <div class="form-group col-md-6 col-sm-6">
                <label for="user_lastname" translate>Lastname</label>
                <input type="text" class="form-control" id="user_lastname" ng-model="user.lastname" ng-required="true" />
            </div>

            <div class="form-group col-xs-12">
                <label for="user_email" translate>Email</label>
                <input type="text" class="form-control" id="user_email" ng-model="user.email" />
            </div>
        </div>
    </div>

</div>
