

<form role="form" name="userSettings">
	
	

	
	<div class="row">
	
		
		<h3 translate>Your account parameters</h3>


        <button type="button" class="col-md-2 btn" ng-click="setImage(user)">
          <small>Photo</small><br/>
          <img class="img-rounded" ng-src="{{user.image}}" />
            <div ng-if="!user.image" class="top60"><br /></div>
        </button>
		
		
		<div class="form-group col-md-5">
			<label for="user_firstname" translate>Firstname</label>
			<input type="text" class="form-control" id="user_firstname" ng-model="user.firstname" ng-required="true" />
		</div>
		
		<div class="form-group col-md-5">
			<label for="user_lastname" translate>Lastname</label>
			<input type="text" class="form-control" id="user_lastname" ng-model="user.lastname" ng-required="true" />
		</div>
	  
		<div class="form-group col-md-10">
			<label for="user_email" translate>Email</label>
			<input type="text" class="form-control" id="user_email" ng-model="user.email" />
		</div>
		
		
		<div class="form-group col-md-12">
			<input type="checkbox" id="user_setpassword" ng-model="user.setpassword" />
			<label for="user_setpassword" translate>Set a new password</label>
		</div>
		
		<div ng-if="user.setpassword" ng-class="{true:'', false:'has-error'}[user.newpassword==user.newpassword2]">
		
			<div class="form-group col-md-4">
				<label for="user_newpassword" translate>New password</label>
				<input type="password" class="form-control" id="user_newpassword" ng-model="user.newpassword" />
			</div>
			
			<div class="form-group col-md-4">
				<label for="user_newpassword2" translate>Confirm new password</label>
				<input type="password" class="form-control" id="user_newpassword2" ng-model="user.newpassword2" />
			</div>
			<div class="col-md-3 top30">
				<small translate>Password Strength:</small><br />
				<div style="border:#ccc 1px solid;padding:0;">
					<div pw-width="{{ user.newpassword }}" style="background:green;height:5px;"></div>
				</div>
			</div>
		</div>
		
	</div>

    <div class="row top20" ng-if="user.roles.account" ng-include="'partials/user/settings-account.html'">
	</div>
	
	

	<div class="row top30">
		<button class="btn btn-primary" ng-click="userSettings.$valid && saveUser()" translate>Save</button>
		<button class="btn btn-link" ng-click="back()" translate>Cancel</button>
	</div>
	

</form>
