<div class="row">
    <div class="col-xs-12 col-sm-3 top30" ng-include="'partials/utils/common/settings/menu.html'">
    </div>

    <div class="col-sm-9">

        <h3 translate>Link with your google calendar</h3>

        <div ng-if="!loaded">
            <i class="fa fa-spinner fa-spin fa-fw"></i>
            <span class="sr-only" translate>Loading...</span>
        </div>

        <form ng-if="loaded" role="form" name="userSettings" class="top30">

            <div ng-if="!connected">
                <p translate>Your calendar is not connected</p>
                <a class="btn btn-default" ng-href="/rest/user/googlecalendar" ><i class="fa fa-chain"></i> <span translate>Connect</span></a>
            </div>


            <div ng-if="connected">

                <p translate>Your calendar is connected</p>
                <p><button class="btn btn-danger" ng-click="googleDisconnect()"><i class="fa fa-chain-broken"></i> <span translate>Disconnect</span></button>
                </p>

                <div class="form-group">
                    <label for="googlecalendar" translate>Save leave periods to</label>
                    <select class="form-control" id="googlecalendar" ng-model="user.google.calendar" ng-options="calendar.id as calendar.summary for calendar in calendars">
                    </select>

                    <em>Only writable secondary calendars are listed here</em>
                </div>


                <div class="top30">
                    <button class="btn btn-primary" ng-click="userSettings.$valid && saveUser()" translate>Save</button>
                </div>
            </div>


        </form>
    </div>
</div>
