<div class="row">
    <div class="col-xs-12 col-sm-3 top30" ng-include="'partials/utils/common/settings/menu.html'">
    </div>

    <div class="col-sm-9">
        <form role="form" name="userSettings">

            <h3 translate>Your account parameters</h3>


            <div ng-include="'partials/utils/common/user/user-edit-head.html'">
            </div>

            <div class="top20" ng-if="user.roles.account" ng-include="'partials/user/settings-account.html'">
            </div>



            <div class="col-xs-12 top30">
                <button class="btn btn-primary" ng-click="userSettings.$valid && saveUser()" translate>Save</button>
            </div>


        </form>
    </div>
</div>
