<div class="row">
    <div class="col-xs-12 col-sm-3 top30" ng-include="'partials/utils/common/settings/menu.html'">
    </div>

    <div class="col-sm-9">

        <h3 translate>Link with your google calendar</h3>

        <form role="form" name="userSettings" class="top30">

            <div ng-if="!connected">
                <p translate>Your calendar is not connected</p>
                <button class="btn btn-default" ng-click="googleConnect()" translate><i class="fa fa-chain"></i> <span>Connect</span></button>
            </div>


            <div ng-if="connected">

                <p translate>Your calendar connected</p>

                <button class="btn btn-danger" ng-click="googleConnect()"><i class="fa fa-chain-broken"></i> <span translate>Disconnect</span></button>

                <div class="top30">
                    <button class="btn btn-primary" ng-click="userSettings.$valid && saveUser()" translate>Save</button>
                </div>
            </div>


        </form>
    </div>
</div>
