<h3 translate>Notifications parameters</h3>

<div class="form-group col-md-12">
    <input type="checkbox" id="notify_approvals" ng-model="user.roles.account.notify.approvals" />
    <label for="notify_approvals" translate>Notify me when a request is accepted or rejected</label>
</div>


<div class="form-group col-md-12">
    <input type="checkbox" id="notify_allocations" ng-model="user.roles.account.notify.allocations" />
    <label for="notify_allocations" translate>Notify me when new vacation rights are opened or closed for my account</label>
</div>
