version: 2
jobs:
  test:
    docker:
      - image: circleci/node:jessie
      - image: mongo:latest
    steps:
      - checkout
      - run: 'npm install'
      - run: 'cp config.example.js config.js'
      - run: 'node node_modules/jasmine-node/bin/jasmine-node --forceexit test/server'
workflows:
  version: 2
  build_and_test:
    jobs:
      - test
