<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2><i class="fa fa-pencil-square-o text-muted"></i> <span translate>Change the initial quantity</span></h2>
            </div>
            <div class="modal-body">

                <div class="row col-xs-12">
                    <p translate>Edit quantity in renewal from: {{renewal.start|date}} to: {{renewal.finish|date}}</p>
                </div>

                <form role="form">

                    <div class="form-group">
                        <label for="adjustment_quantity" translate>Set the adjustment quantity</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="adjustment_quantity" ng-model="adjustment.quantity" ng-change="setAdjustmentQuantity()" step="any" />
                            <span class="input-group-addon">{{renewal.initial_quantity_dispUnit}}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="_available_quantity" translate>Or set the available quantity</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="_available_quantity" ng-model="adjustment.available_quantity" ng-change="setAvailableQuantity()" step="any" />
                            <span class="input-group-addon">{{renewal.initial_quantity_dispUnit}}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="adjustment_comment" translate>Justification, write about this manual adjustment</label>
                        <textarea class="form-control" id="adjustment_comment" ng-model="adjustment.comment"></textarea>
                    </div>

                    <button class="btn btn-primary" ng-click="save()"><i class="fa fa-save"></i> <span translate>Save</span></button>
                    <button class="btn btn-link" ng-click="cancel()" translate>Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
