<div class="row">
    <div class="col-xs-12 col-sm-3">





    </div>

    <div class="col-xs-12 col-sm-9">

        <div class="row panel panel-primary">
            <div class="col-xs-10">
                <h2>{{beneficiary.right.name}}</h2>
                <p><span translate>Type:</span> {{beneficiary.right.type.name}}</p>
                <p><span translate>Default quantity on start renewal:</span> {{beneficiary.right.quantity | number}} {{beneficiary.right.disp_unit}}</p>
            </div>


        </div>



    </div>
</div>
