<div class="row">
    <div class="col-xs-12 col-sm-3">

        <img class="img-rounded" ng-if="user.image" ng-src="{{user.image}}" />
        <i class="top15 glyphicon glyphicon-user text-muted fa-5x" ng-if="!user.image"></i>

        <h3><a ng-href="#/admin/users/{{user._id}}">{{user.lastname}} {{user.firstname}}</a></h3>

        <p><a href="mailto:{{user.email}}">{{user.email}}</a></p>

        <p><span translate>Department:</span> {{user.department.name}}</p>
        <p><span translate>Arrival date:</span> {{user.roles.account.arrival|date}}</p>
    </div>



    <div class="col-xs-12 col-sm-9">

        <div class="row panel panel-primary">
            <div class="col-xs-12">
                <h2>{{beneficiary.right.name}}</h2>
                <p><span translate>Type:</span> {{beneficiary.right.type.name}}</p>
                <p><span translate>Default quantity on start renewal:</span> {{beneficiary.right.quantity | number}} {{beneficiary.right.disp_unit}}</p>
            </div>
        </div>

        <h3 translate>Accessibles renewals</h3>

        <div class="inga-list-rows">
            <div class="row" ng-repeat="renewal in beneficiary.renewals">
                <p><span translate>From:</span> {{renewal.start|date}}</p>
                <p><span translate>To:</span> {{renewal.finish|date}}</p>
            </div>
        </div>
    </div>
</div>
