
<form role="form">
	<div class="form-group">
		<label for="calendar_name" translate>Calendar name</label>
		<input type="text" class="form-control" id="calendar_name" ng-model="calendar.name" />
	</div>
  
	<div class="form-group">
		<label for="calendar_name" translate>Url of the calendar ICS file</label>
		<input type="text" class="form-control" id="calendar_url" ng-model="calendar.url" />
	</div>
	
	<div class="form-group">
		<p><strong translate>Calendar type:</strong></p>
		<p>
			<label><input type="radio" ng-model="calendar.type" value="workschedule" />
				<span translate>Work schedule</span>
			</label><br />
			&nbsp; &nbsp; <small>Absences or vacations requests must be included in this calendar</small>
		</p>
		<p>
			<label><input type="radio" ng-model="calendar.type" value="nonworkingday" />
				<span translate>Non working days</span>
			</label><br />
			&nbsp; &nbsp; <small translate>Absences or vacations requests can not be reserved over these periods</small>
		</p>
	</div>
  
  
	<button class="btn btn-primary" ng-click="saveCalendar()" translate>Save</button> 
	<button class="btn btn-link" ng-click="back()" translate>Cancel</button>
</form>
