
<div class="row">
	<div class="col-xs-12 col-sm-9">

		<div class="row gadael-list-header">
			<div class="col-sm-3 text-center">
				<a ng-href="#/admin/collection-edit" class="btn btn-primary" role="button"><i class="fa fa-plus"></i> <span translate>Add Collection</span></a>
			</div>

			<div class="col-xs-12 col-sm-8 text-center">
				<bgf-pagination
					per-page="25"
					collection="collections"
					url="'rest/admin/collections'"
					url-params="search"
					template-url="partials/utils/paginate-anything.html">
				</bgf-pagination>
			</div>
		</div>


		<div class="gadael-list-rows">
			<div class="row" ng-repeat="collection in collections">
				<div class="col-md-6">
					<a class="btn btn-info btn-xs hidden-print" ng-href="#/admin/collections/{{collection._id}}" role="button"><i class="fa fa-edit"></i> <span class="hidden-xs" translate>Edit</span></a>
					 &nbsp; {{collection.name}}
				</div>

                <div class="col-md-3">
                    {{collection.attendance}}%
                </div>

                <div class="col-md-3">
					<span translate translate-n="collection.rights.length" translate-plural="{{$count}} rights">One right</span>
                </div>
			</div>
		</div>


	</div>

	<div role="search" class="col-xs-12 col-sm-3">

		<h2><i class="fa fa-search"></i> <span translate>Search in collections</span></h2>

		<div class="form-group">
			<label for="search_name" translate>By name:</label><br />
			<input type="text" class="form-control" id="search_name" ng-model="search.name" ng-model-options="{ debounce: 500 }" />
		</div>

        <div class="form-group">
			<label for="search_type" translate>By right:</label><br />
			<select class="form-control" id="search_right" ng-model="search.right" ng-options="right._id as right.name group by right.type.name for right in rights">
				<option></option>
			</select>
		</div>
	</div>
</div>
