
<div class="row">


    <div class="col-xs-10">
        <h2><i class="fa fa-folder text-muted"></i> {{compulsoryleave.name}}</h2>

    </div>

    <div class="col-xs-2 text-right">
        <br />
        <a ng-href="#/admin/compulsoryleave-edit/{{compulsoryleave._id}}" class="btn btn-info hidden-print" role="button"><i class="fa fa-edit"></i> <span class="hidden-xs" translate>Edit</span></a>
    </div>

</div>


<div class="row">
    <div class="col-sm-6">

        {{compulsoryleave.description}}

    </div>

    <div class="col-sm-6">

        <span translate>Right: </span> {{compulsoryleave.right.name}}
    </div>
</div>

<div class="gadael-list-rows top30">

    <div class="row" ng-repeat="compulsoryLeaveRequest in compRequest">

        <div class="col-sm-5">
            <img ng-src="{{compulsoryLeaveRequest.user.image}}" ng-if="compulsoryLeaveRequest.user.image" height="40" class="img-rounded" />
            <i class="top15 glyphicon glyphicon-user text-muted fa-2x" ng-if="!compulsoryLeaveRequest.user.image"></i>
            {{compulsoryLeaveRequest.user.name}}
        </div>

        <div class="col-sm-5">

        </div>
    </div>

</div>


