
<div class="row">


    <div class="col-xs-10">
        <h2><i class="fa fa-folder text-muted"></i> {{compulsoryleave.name}}</h2>

    </div>

    <div class="col-xs-2 text-right">
        <br />
        <a ng-href="#/admin/compulsoryleave-edit/{{compulsoryleave._id}}" class="btn btn-info hidden-print" role="button"><i class="fa fa-edit"></i> <span class="hidden-xs" translate>Edit</span></a>
    </div>

</div>



<div class="row">
    <div class="col-sm-12">
        <p ng-repeat="paragraph in compulsoryleave.description|nlToArray track by $index">{{paragraph}}</p>
    </div>

    <div class="col-sm-6">
        <dl>
            <dt translate>From:</dt><dd>{{compulsoryleave.dtstart|date:'medium'}}</dd>
            <dt translate>To:</dt><dd>{{compulsoryleave.dtend|date:'medium'}}</dd>
        </dl>

    </div>

    <div class="col-sm-6">
        <dl>
            <dt translate>Right:</dt><dd>{{compulsoryleave.right.name}}</dd>
        </dl>

    </div>
</div>

<div class="gadael-list-rows top30">

    <div class="row" ng-repeat="compulsoryLeaveRequest in compRequest">

        <div class="col-sm-5">
            <img ng-src="{{compulsoryLeaveRequest.user.image}}" ng-if="compulsoryLeaveRequest.user.image" height="35" class="img-rounded" />
            <i class="user-35 fa fa-user text-muted fa-2x" ng-if="!compulsoryLeaveRequest.user.image"></i>
            <a ng-href="#/admin/users/{{compulsoryLeaveRequest.user.id}}">{{compulsoryLeaveRequest.user.name}}</a>
        </div>

        <div class="col-sm-5">
            {{compulsoryLeaveRequest.quantity}}
        </div>
    </div>

</div>


