<h1 ng-if="undefined === department._id"><i class="fa fa-magic text-muted"></i> <span translate>Create a department</span></h1>
<h1 ng-if="undefined !== department._id"><i class="fa fa-edit text-muted"></i> <span translate>Modify a department</span></h1>

<form role="form">

    <div class="form-group top30">
        <label for="department_name" translate>Department name</label>
        <input type="text" class="form-control" id="department_name" ng-model="department.name" />
    </div>

    <div class="form-group">
        <label for="department_parent" translate>Parent department</label>
        <select class="form-control" ng-model="department.parent" ng-options="dep.name for dep in departments track by dep._id">
            <option value=""></option>
        </select>
    </div>

    <div class="radio top30">
        <label>
            <input type="radio" value="OR" ng-model="department.operator" />
            <span translate>At least one manager must confirm approval step</span>
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" value="AND" ng-model="department.operator" />
            <span translate>All managers must confirm approval step</span>
        </label>
    </div>

    <div class="top30">
        <h4>Business days for this department</h4>
        <div class="form-inline">
            <div class="checkbox">
                <label><input type="checkbox" value="1" ng-model="businessDays.SU" /> <span translate>Sunday</span></label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="1" ng-model="businessDays.MO" /> <span translate>Monday</span></label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="1" ng-model="businessDays.TU" /> <span translate>Tuesday</span></label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="1" ng-model="businessDays.WE" /> <span translate>Wednesday</span></label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="1" ng-model="businessDays.TH" /> <span translate>Thursday</span></label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="1" ng-model="businessDays.FR" /> <span translate>Friday</span></label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="1" ng-model="businessDays.SA" /> <span translate>Saturday</span></label>
            </div>
        </div>
    </div>

    {{businessDays}}

    <div class="top30">
        <button class="btn btn-primary" ng-click="saveDepartment()" translate>Save</button>
        <button class="btn btn-link" ng-click="back()" translate>Cancel</button>
    </div>
</form>
