<div class="row">
	<div class="col-xs-12 col-sm-9">
		
		<div class="row gadael-list-header">
			<div class="col-sm-3 text-center">
				<a ng-href="#/admin/department-edit" class="btn btn-primary" role="button"><i class="fa fa-plus"></i> <span translate>Add Department</span></a>
			</div>
			
			<div class="col-xs-12 col-sm-8 text-center">
				<bgf-pagination
					per-page="25" 
					collection="departments" 
					url="'rest/admin/departments'" 
					url-params="search" 
					template-url="partials/utils/paginate-anything.html">
				</bgf-pagination>
			</div>
		</div>

		
		<div class="gadael-list-rows">
			<div class="row" ng-repeat="department in departments">
				<div class="col-sm-10">
					<a class="btn btn-info btn-xs hidden-print" ng-href="#/admin/departments/{{department._id}}" role="button"><i class="fa fa-plus-circle"></i> <span class="hidden-xs" translate>View</span></a>
					 &nbsp; {{department.name}}
				</div>

                <div class="col-sm-2">
                    <a
                       role="button"
                       ng-if="department.children.length > 0"
                       data-content-template="partials/utils/common/department/listpopover.html"
                       data-auto-close="1"
                       bs-popover>
                          <i class="fa fa-sitemap" title="{{'View sub-departments'|translate}}"></i>
                    </a>
                </div>
			</div>
		</div>

		
	</div>
	
	<div role="search" class="col-xs-12 col-sm-3">
		
		<h2><i class="fa fa-search"></i> <span translate>Search in departments</span></h2>
		
		<div class="form-group">
			<label for="search_name" translate>By name:</label><br />
			<input type="text" class="form-control" id="search_name" ng-model="search.name" ng-model-options="{ debounce: 500 }" />
		</div>
	</div>
</div>
