


<div class="row">
	<div class="col-xs-12 col-sm-9">

		<div class="row gadael-list-header">
			<div class="col-sm-3 text-center">
				<a ng-href="#/admin/invitation-edit" class="btn btn-primary" role="button"><i class="fa fa-plus"></i> <span translate>Invite someone</span></a>
			</div>

			<div class="col-xs-12 col-sm-8 text-center">
				<bgf-pagination
					per-page="25"
					collection="invitations"
					url="'rest/admin/invitations'"
					url-params="search"
					template-url="partials/utils/paginate-anything.html">
				</bgf-pagination>
			</div>
		</div>

		<div class="gadael-list-rows">
			<div class="row" ng-repeat="invitation in invitations">
				<div class="col-xs-6">
					<button ng-click="delete(invitation)" class="btn btn-danger btn-xs hidden-print" role="button">
						<i class="fa fa-times"></i> <span class="hidden-xs" translate>Delete</span>
					</button>
					&nbsp;{{invitation.email}}
				</div>

				<div class="col-xs-6">
					<span ng-if="!invitation.done">
						<i class="fa fa-hourglass"></i>
						<span translate>Waiting for response</span>
					</span>
					<span ng-if="invitation.done">
						<i class="fa fa-check"></i> 
						<span translate>done</span>
					</span>
				</div>
			</div>
		</div>


	</div>

	<div role="search" class="col-xs-12 col-sm-3">

		<p translate>You can invite someone to use this application if you know his email.</p>

	</div>
</div>
