
<form role="form" name="managerDepartmentsEdit">



    <div class="row">

        <h3 class="col-md-9">Departments managed by {{user.lastname}} {{user.firstname}}</h3>

        <div class="col-md-3 text-right">
            <br />
            <button class="btn btn-primary" ng-click="addDepartment()">
                <i class="fa fa-plus-circle"></i> <span translate>Add department</span>
            </button>
        </div>
    </div>


    <div class="row" ng-repeat="reference in roles.manager.department">
        <div class="col-md-12 form-group">
            <label for="manager_department{{$index}}" translate>Department</label>

            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-warning" ng-click="removeReference($index)"><span class="glyphicon glyphicon-remove"></span><span class="sr-only" translate>Remove</span></button>
                </div>
                <select class="form-control" id="manager_department{{$index}}" ng-model="roles.manager.department[{{$index}}]" ng-options="department._id as department.name for department in departments" ng-required>
                    <option></option>
                </select>
            </div>
        </div>

    </div>



    <div class="col-sm-12 text-center top30">
        <button class="btn btn-primary" ng-click="managerDepartmentsEdit.$valid && saveManagerDepartments()" translate>Save</button>
        <button class="btn btn-link" ng-click="cancel()" translate>Cancel</button>
    </div>

</form>
