

<div class="row">
	<div class="col-xs-12 col-sm-9">

        <h1 ng-if="undefined === rightrenewal._id"><i class="fa fa-edit text-muted"></i> <span translate>Create a right renewal</span></h1>
        <h1 ng-if="undefined !== rightrenewal._id"><i class="fa fa-edit text-muted"></i> <span translate>Modify a right renewal</span></h1>


        <form role="form" class="top30">
            <div class="form-group">
                <label for="rightrenewal_start" translate>Start</label>
                <input type="text" id="rightrenewal_start" class="form-control" ng-model="rightrenewal.start" data-max-date="{{rightrenewal.finish}}" data-autoclose="1" container="body" ng-required bs-datepicker />
            </div>

            <div class="form-group">
                <label for="rightrenewal_finish" translate>Finish</label>
                <input type="text" id="rightrenewal_finish" class="form-control" ng-model="rightrenewal.finish" data-autoclose="1" container="body" ng-required bs-datepicker />
            </div>
            
            <button class="btn btn-primary" ng-click="saveRightrenewal()" translate>Save</button> 
            <button class="btn btn-link" ng-click="back()" translate>Cancel</button>
        </form>
    </div>
    
    <div class="col-xs-12 col-sm-3"  ng-include="'partials/utils/common/right/right-panel.html'">
	</div>
</div>
