<div class="row">
	<div class="col-xs-12 col-sm-9">
		
		<div class="row inga-list-header">
			<div class="col-sm-3 text-center">
				<a ng-href="#/admin/right-edit" class="btn btn-primary" role="button"><i class="fa fa-plus"></i> <span translate>Add absences right</span></a>
			</div>
			
			<div class="col-xs-12 col-sm-8 text-center">
				<begriffs.pagination 
					per-page="25" 
					collection="rights" 
					url="'/rest/admin/rights'" 
					url-params="search" 
					template-url="partials/utils/paginate-anything.html">
				</begriffs.pagination>
			</div>
		</div>
		
		<div class="inga-list-rows">
			<div class="row" ng-repeat="right in rights">
				<div class="col-xs-2">
					<a ng-href="#/admin/rights/{{right._id}}" class="btn btn-info btn-xs hidden-print" role="button"><i class="fa fa-edit"></i> <span class="hidden-xs" translate>Edit</span></a> 
				</div>	 
                <div class="col-md-5">
                    {{right.name}}
                </div>
				 
				<div class="col-md-5 hidden-xs hidden-sm">{{right.type}}</div>
			</div>
		</div>

		
	</div>
	
	<div role="search" class="col-xs-12 col-sm-3">
		
		<h2><i class="fa fa-search"></i> <span translate>Search in rights</span></h2>
		
		<div class="form-group">
			<label for="search_name" translate>By name:</label><br />
			<input type="text" class="form-control" id="search_name" ng-model="search.name" ng-model-options="{ debounce: 500 }" />
		</div>
		
		<div class="form-group">
			<label for="search_type" translate>By type:</label><br />
			<select class="form-control" id="search_type" ng-model="search.type" ng-options="type._id as type.name for type in types">
				<option></option>
			</select>
		</div>
	</div>
</div>
