<div class="row">
    <div class="col-xs-12 col-sm-3">



        <div role="navigation">
            <div class="list-group">
                <a class="list-group-item" ng-href="#/admin/rights"><i class="fa fa-folder-o"></i> <span translate>Rights list</span></a>
                <a class="list-group-item" ng-href="#/admin/collections"><i class="fa fa-book"></i> <span translate>Rights collections</span></a>
            </div>
        </div>

    </div>

    <div class="col-xs-12 col-sm-9" as-sortable="dragControlListeners" ng-model="rights">

        <div class="row" ng-repeat="right in rights" as-sortable-item>
            <div data-as-sortable-item-handle>
            <div class="col-md-9 col-xs-12">
                <i class="fa fa-asterisk" style="color:{{right.type.color}}" title="{{right.type.name}}"></i> <strong>{{right.name}}</strong><br />
            </div>

            <div class="col-md-3 hidden-xs hidden-sm">{{right.type.name}}</div>

            </div>
        </div>
    </div>

</div>
