<div class="row">
    <div class="col-xs-12 col-sm-3">
        
        
        
        <div role="navigation">
            <div class="list-group">
                <a class="list-group-item" ng-href="#/admin/rights"><i class="fa fa-folder-o"></i> <span translate>Rights list</span></a>
                <a class="list-group-item" ng-href="#/admin/collections"><i class="fa fa-book"></i> <span translate>Rights collections</span></a>
            </div>
        </div>
        
    </div>
    
    <div class="col-xs-12 col-sm-9">
        
        <div class="row panel panel-primary">
            <div class="col-xs-10">
                <h2>{{right.name}}</h2>
                <p><span translate>Type:</span> {{right.type.name}}</p>
                <p><span translate>Default quantity on start renewal:</span> {{right.quantity}} {{right.quantity_unit}}</p>
            </div>

            <div class="col-xs-2 text-right">
                <br />
                <a ng-href="#/admin/right-edit/{{right._id}}" class="btn btn-info hidden-print" role="button">
                    <i class="fa fa-edit"></i> <span class="hidden-xs" translate>Edit</span>
                </a> 
            </div>
        </div>
        
        <div class="row">
            <h3  class="col-xs-10" translate>Rules</h3>
            <div class="col-xs-2 text-right">
                <br />
                <a class="hidden-print btn btn-primary btn-sm" role="button" ng-href="#/admin/rightrule-edit?right={{right._id}}">
                    <i class="fa fa-plus-circle"></i> Add
                </a>
            </div>
            <table class="table">
                <tbody>
                <tr ng-repeat="rule in rightRules">
                    <td>
                        <a class="hidden-print" role="button" ng-href="#/admin/rightrules/{{rule._id}}">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                    </td>
                    <td>{{rule.title}}</td>
                    <td>{{rule.type}}</td>
                    <td class="hidden-xs hidden-sm">{{rule.interval.min|date:'d MMM'}}</td>
                    <td class="hidden-xs hidden-sm">{{rule.interval.max|date:'d MMM'}}</td>
                </tr>
                </tbody>
                <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Type</th>
                    <th class="hidden-xs hidden-sm">Min</th>
                    <th class="hidden-xs hidden-sm">Max</th>
                </tr>
                </thead>
            </table>

            <div class="alert alert-danger" role="alert" ng-if="!rightRules.length">
                <span>This right has no configured rules</span>
            </div>
        </div>
        
        
        <div class="row">
            
            <h3  class="col-xs-10" translate>Renewals</h3>
            <div class="col-xs-2 text-right">
                <br />
                <a class="hidden-print btn btn-primary btn-sm" role="button" ng-href="#/admin/rightrenewal-edit?right={{right._id}}">
                    <i class="fa fa-plus-circle"></i> Add
                </a>
            </div>
            <table class="table">
                <tbody>
                <tr ng-repeat="renewal in rightRenewals">
                    <td>
                        <a class="hidden-print" role="button" ng-href="#/admin/rightrenewals/{{renewal._id}}">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                    </td>
                    <td>{{renewal.start|date}}</td>
                    <td>{{renewal.finish|date}}</td>
                </tr>
                </tbody>
                <thead>
                <tr>
                    <th></th>
                    <th>Start</th>
                    <th>Finish</th>
                </tr>
                </thead>
            </table>

            <div class="alert alert-danger" role="alert" ng-if="!rightRenewals.length">
                <span>This right has no configured renewals</span>
            </div>
        </div>
        
    </div>
        
    
</div>