<div class="row">
	<div class="col-xs-12 col-sm-9">
        <form role="form">
            <div class="form-group">
                <label for="rightrule_title" translate>Rule title, this will be visible from users</label>
                <input type="text" id="rightrule_title" class="form-control" ng-model="rightrule.title" ng-required />
            </div>
            
            <div ng-if="step===1">
                
                <h3>Select rule type</h3>
                
                <div class="form-group">
                    <label><input type="radio" ng-model="rightrule.type" value="entry_date" /> 
                        <strong translate>Activate the right according to the entry creation date</strong></label>
                        <p translate>Right is visible when the request creation date is in the renewal period</p>
                </div>    

                <div class="form-group">
                    <label><input type="radio" ng-model="rightrule.type" value="request_period" />
                        <strong translate>Activate the right according to the request period</strong></label>
                        <p translate>Right is visible when request period is in the renewal period</p>
                </div> 

                <div class="form-group">
                    <label><input type="radio" ng-model="rightrule.type" value="seniority" /> 
                        <strong translate>Add quantity to the right according to the seniority</strong></label>
                        <p translate>Right is visible when the request period is in a period relative to the user seniority date</p>
                </div>
                
                
                <button class="btn btn-primary" ng-click="next()" translate>Next</button>
                <button class="btn btn-link" ng-click="back()" translate>Cancel</button>
            </div>

            <div ng-if="step===2">
                
                <div ng-switch on="rightrule.type">
                    <div ng-switch-when="entry_date">
                        <strong translate>Rule type:</strong>
                        <p translate>Activate the right according to the entry creation date</p>
                        <p translate>If this rule is not verified, the right will not be visible by the user in the rights list and when allocating</p>

                        <div class="form-group">
                            <label for="entry_min" translate>Additional days before the renewal start date:</label>
                            <div class="input-group">
                                <input type="number" id="entry_min" class="form-control" ng-model="rightrule.interval.min" ng-required />
                                <div class="input-group-addon" translate>Days</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="entry_max" translate>Additional days after the renewal end date:</label>
                            <div class="input-group">
                                <input type="number" id="entry_max" class="form-control" ng-model="rightrule.interval.max" ng-required />
                                <div class="input-group-addon" translate>Days</div>
                            </div>
                        </div>
                    </div>



                    <div ng-switch-when="request_period">
                        <strong translate>Rule type:</strong>
                        <p translate>Activate the right according to the request period</p>
                        <p translate>If this rule is not verified, the right will not be available in the second step of a request, once the request dates are set.</p>

                        <div class="form-group">
                            <label for="request_period_min" translate>Additional days before the renewal start date:</label>
                            <div class="input-group">
                                <input type="number" id="request_period_min" class="form-control" ng-model="rightrule.interval.min" ng-required />
                                <div class="input-group-addon" translate>Days</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="request_period_max" translate>Additional days after the renewal end date:</label>
                            <div class="input-group">
                                <input type="number" id="request_period_max" class="form-control" ng-model="rightrule.interval.max" ng-required />
                                <div class="input-group-addon" translate>Days</div>
                            </div>
                        </div>
                    </div>


                    <div ng-switch-when="seniority">
                        <strong translate>Rule type:</strong>
                        <p translate>Activate the right according to the user seniority</p>
                        <p translate>If this rule is not verified, the right will not be visible by the user in the rights list and when allocating:</p>

                        <div class="form-group">
                            <label for="seniority_min" translate>Years before the entry start date to set the period start:</label>
                            <div class="input-group">
                                <input type="number" id="seniority_min" class="form-control" ng-model="rightrule.interval.min" ng-required />
                                <div class="input-group-addon" translate>Years</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="seniority_max" translate>Number of years before the entry start date to set the period end:</label>
                            <div class="input-group">
                                <input type="number" id="seniority_max" class="form-control" ng-model="rightrule.interval.max" ng-required />
                                <div class="input-group-addon" translate>Years</div>
                            </div>
                        </div>

                        <em class="text-info" translate>For an absence with today as start date, if the seniority date of is beetween {{estimated.min|date}} and {{estimated.max|date}}, the right will be available.</em>
                    </div>
                </div>

                <br />

                <button class="btn btn-primary" ng-click="saveRightrule()"><i class="fa fa-save"></i> <span translate>Save</span></button>
                <button class="btn btn-danger" ng-click="delete()"><i class="fa fa-times"></i> <span translate>Delete</span></button>
                <button class="btn btn-link" ng-click="back()" translate>Cancel</button>

            </div>

        </form>
    </div>
    
    <div class="col-xs-12 col-sm-3">
		
        <div class="panel panel-info">

            <div class="panel-heading">{{right.name}}</div>
            <div class="panel-body">
                <p><strong translate>Type:</strong> {{right.type.name}}</p>
                <p>{{right.description}}</p>
                <p>
                    <strong translate>Last renewal:</strong><br />
                    <span translate>from</span> {{renewal.start|date}} 
                    <span translate>to</span> {{renewal.finish|date}}
                </p>
            </div>
        </div>
	</div>
</div>
