<div class="row">
    <div class="col-xs-12 col-sm-3">



        <div role="navigation">
            <div class="list-group">
                <a class="list-group-item" ng-href="#/admin/rights"><i class="fa fa-folder-o"></i> <span translate>Rights list</span></a>
                <a class="list-group-item" ng-href="#/admin/collections"><i class="fa fa-book"></i> <span translate>Rights collections</span></a>
            </div>
        </div>

    </div>

    <div class="col-xs-12 col-sm-9" as-sortable="dragControlOptions" data-ng-model="sortableItems">

        <div class="row" ng-repeat="item in sortableItems" as-sortable-item>
            <div class="col-sm-12 btn-lg" as-sortable-item-handle>
                <i class="fa fa-sort text-primary"></i> &nbsp; {{item.name}}
            </div>
        </div>
    </div>

</div>
