<h1 ng-if="undefined === type._id"><i class="fa fa-edit text-muted"></i> <span translate>Create a right type</span></h1>
<h1 ng-if="undefined !== type._id"><i class="fa fa-edit text-muted"></i> <span translate>Modify a right type</span></h1>


<form role="form" class="top30">
  <div class="form-group col-md-10">
    <label for="type_name" translate>Right type name</label>
    <input type="text" class="form-control" id="type_name" ng-model="type.name" />
  </div>

  <div class="form-group col-md-2">
    <label for="type_color" translate>Color</label>
    <input colorpicker type="text" class="form-control" id="type_color" ng-model="type.color" />
  </div>

  <div class="form-group col-md-12">
    <input type="checkbox" id="type_groupFolded" ng-model="type.groupFolded" />
    <label for="type_groupFolded" translate>Display type folded in the request creation page</label>
  </div>

  <div class="form-group col-md-12" ng-if="type.group">
    <label for="type_groupTitle" translate>Group title for rights (plural form)</label>
    <input type="text" class="form-control" id="type_groupTitle" ng-model="type.groupTitle" />
  </div>
  
  <div class="col-md-12">
    <button class="btn btn-primary" ng-click="saveType()" translate>Save</button>
    <button class="btn btn-link" ng-click="back()" translate>Cancel</button>
  </div>
</form>
