


<div class="row">
	<div class="col-xs-12 col-sm-9">
		
		<div class="row inga-list-header">
			<div class="col-sm-3 text-center">
				<a ng-href="#/admin/user-edit" class="btn btn-primary" role="button"><i class="fa fa-plus"></i> <span translate>Add User</span></a>
			</div>
			
			<div class="col-xs-12 col-sm-8 text-center">
				<begriffs.pagination 
					per-page="25" 
					collection="users" 
					url="'/rest/admin/users?name='+search.name+'&department='+search.department+'&collection='+search.collection" 
					template-url="partials/utils/paginate-anything.html">
				</begriffs.pagination>
			</div>
		</div>
		
		<div class="inga-list-rows">
			<div class="row" ng-repeat="user in users">
				<div class="col-md-6">
					<a ng-href="#/admin/users/{{user._id}}" class="btn btn-info btn-xs hidden-print" role="button"><i class="fa fa-edit"></i> <span class="hidden-xs" translate>Edit</span></a> 
					 &nbsp; {{user.lastname}} {{user.firstname}}
				</div> 
				<div class="col-md-6"><a href="mailto:{{user.email}}">{{user.email}}</a></div>
			</div>
		</div>

		
	</div>
	
	<div role="search" class="col-xs-12 col-sm-3">
		
		<h2><i class="fa fa-search"></i> <span translate>Search in users</span></h2>
		
		<div class="form-group">
			<label for="search_name" translate>By name:</label><br />
			<input type="text" class="form-control" id="search_name" ng-model="search.name" ng-model-options="{ debounce: 500 }" />
		</div>
		
		<div class="form-group">
			<label for="search_department" translate>By department:</label><br />
			<select class="form-control" id="search_department" ng-model="search.department" ng-options="department._id as department.name for department in departments" ng-init="search.department=''">
			</select>
		</div>
		
		<div class="form-group">
			<label for="search_collection" translate>By collection:</label><br />
			<select class="form-control" id="search_collection" ng-model="search.collection" ng-options="collection._id as collection.name for collection in collections" ng-init="search.collection=''">
			</select>
		</div>
	</div>
</div>
