<div class="row">
    
    <p><span translate>Seniority date:</span> {{account.seniority|date}}</p>
    
    <p><span translate>Notifications options:</span> 
        <span ng-if="account.notify.approval" translate>Notify on approval</span>
        <span ng-if="!account.notify.approval" translate>Do not notify on approval</span>
        
        <span ng-if="account.notify.allocations" translate>Notify on new rights allocations</span>
        <span ng-if="!account.notify.allocations" translate>Do not notify on new rights allocations</span>
    </p>
</div>

<div class="row">
    <h3 translate>Vacations rights</h3>

    <table class="table">
        <tbody>
        <tr ng-repeat="accountRight in accountRights">
            <td>
                <a ng-href="#/admin/users/{{user._id}}/rights">
                    {{accountRights.right.name}}
                </a><br />
                {{accountRights.currentperiod.from|date}} - 
                {{accountRights.currentperiod.to|date}}
            </td>
            <td class="hidden-xs">{{accountRights.right.type.name}}</td>
            <td>{{accountRights.currentperiod.remaining}}</td>
            <td class="hidden-xs hidden-sm">{{accountRights.currentperiod.used}}</td>
        </tr>
        </tbody>
        <thead>
        <tr>
            <th>Right name</th>
            <th class="hidden-xs">Type</th>
            <th>Remaining</th>
            <th class="hidden-xs hidden-sm">Used</th>
        </tr>
        </thead>
    </table>
    
    <div class="alert alert-danger" role="alert" ng-if="!accountRights.length">
        <span>This user has no configured vacation rights for the current period</span>
    </div>
</div>


<div class="row">
    <h3 translate>Vacations collections planning</h3>

    <table class="table">
        <tbody>
        <tr ng-repeat="accountCollection in accountCollections">
            <td>
                <a ng-href="#/admin/collections/{{accountCollection.rightCollection._id}}">
                    {{accountCollection.rightCollection.name}}
                </a>
            </td>
            <td>{{accountCollection.from|date}}</td>
            <td>{{accountCollection.to|date}}</td>
        </tr>
        </tbody>
        <thead>
        <tr>
            <th>Collection name</th>  
            <th class="col-sm-3">From</th>
            <th class="col-sm-3">To</th>
        </tr>
        </thead>
    </table>
</div>

<div class="row">
    <h3 translate>Workschedule calendars planning</h3>

    <table class="table">
        <tbody>
        <tr ng-repeat="accountScheduleCalendar in accountScheduleCalendars">
            <td>
                <a ng-href="#/admin/calendars/{{accountScheduleCalendar.calendar._id}}">
                    {{accountScheduleCalendar.calendar.name}}
                </a>
            </td>
            <td>{{accountScheduleCalendar.from|date}}</td>
            <td>{{accountScheduleCalendar.to|date}}</td>
        </tr>
        </tbody>
        <thead>
        <tr>
            <th>Calendar name</th>  
            <th class="col-sm-3">From</th>
            <th class="col-sm-3">To</th>
        </tr>
        </thead>
    </table>

    <div class="alert alert-danger" role="alert" ng-if="!accountScheduleCalendars.length">
        <span>This user has no configured work schedule</span>
    </div>
</div>