<div class="row">
    <div class="col-xs-12 col-sm-3">
        
        
        <div class="panel panel-info hidden-xs">
            <div class="panel-heading">
                <h3 class="panel-title" translate>Roles</h3>
            </div>
            <div class="panel-body">
                <p ng-if="user.isAccount">
                    <strong translate>Absences user account</strong><br />
                    <small translate>The user can have vacations rights, absences requests, time saving account ...</small>
                </p>

                <p ng-if="user.isAdmin">
                    <strong translate>Application administrator</strong><br />
                    <small translate>The user can manager other users and departments, the application parameters ...</small>
                </p>

                <p ng-if="user.isManager">
                    <strong translate>Department manager</strong><br />
                    <small translate>The user may be involved in the validation of requests by the members of his deparment</small>
                </p>
            </div>
        </div>
        
        <div role="navigation">
            <div class="list-group">
                <a class="list-group-item" ng-href="#/admin/users"><i class="fa fa-user"></i> <span translate>Users list</span></a>
                <a class="list-group-item" ng-href="#/admin/requests?user.name={{user.lastname}} {{user.firstname}}"><i class="fa fa-folder text-primary"></i> <span translate>User requests</span></a>
            </div>
        </div>
        
    </div>
    
    <div class="col-xs-12 col-sm-9">
        
        <div class="row panel panel-primary">
            <div class="col-xs-2 top15 text-center">
                <img class="img-rounded" ng-if="user.image" ng-src="{{user.image}}" />
                <i class="top15 glyphicon glyphicon-user text-muted fa-5x" ng-if="!user.image"></i>
            </div>
            <div class="col-xs-8">
                <h2>{{user.lastname}} {{user.firstname}}</h2>
                <p><a href="mailto:{{user.email}}">{{user.email}}</a></p>
                <p ng-if="user.department"><span translate>Department:</span> <a href="#/admin/departments/{{user.department._id}}">{{user.department.name}}</a></p>
                <p class="text-danger" ng-if="!user.isActive"><i class="fa fa-ban"></i> <strong translate>This user can not connect to the application</strong></p>
            </div>

            <div class="col-xs-2 text-right">

                <a ng-href="#/admin/user-edit/{{user._id}}" class="top10 btn btn-block btn-info hidden-print" role="button">
                    <i class="fa fa-edit"></i> <span class="hidden-xs" translate>Edit</span>
                </a>

                <a ng-click="delete()" class="btn btn-block btn-danger hidden-print" role="button">
                    <i class="fa fa-times"></i> <span class="hidden-xs" translate>Delete</span>
                </a>

            </div>
        </div>
        
        <div ng-if="user.isAccount" ng-include="'partials/admin/user-view-account.html'"></div>
        <div ng-if="user.isManager" ng-include="'partials/admin/user-view-manager.html'"></div>
        
    </div>
        
    
</div>
