
<form role="form">
	<div class="col-md-6 form-group">
			<label for="user_firstname" translate>Firstname</label>
			<input type="text" class="form-control" id="user_firstname" ng-model="user.firstname" />
		</div>
	</div>
	<div class="col-md-6 form-group">
		<label for="user_lastname" translate>Lastname</label>
		<input type="text" class="form-control" id="user_lastname" ng-model="user.lastname" />
	  </div>
	</div>
  
	<div class="col-md-8 form-group">
		<label for="user_email" translate>Email</label>
		<input type="text" class="form-control" id="user_email" ng-model="user.email" />
	</div>
	
	<div  class="col-md-12 row">
		
		<tabset>

			<tab>
				<tab-heading>Account</tab-heading>
				<div>
					<div class="col-md-6 form-group">
						<label for="user_department" translate>Department</label>
						<select class="form-control" id="user_department" ng-model="user.department" ng-options="department._id as department.name for department in departments">
						</select>
					</div>
					
					<div class="col-md-6 form-group">
						<label for="user_rightcollection" translate>Rights collection</label>
						<select class="form-control" id="user_rightcollection" ng-model="user.rightcollection" ng-options="rightcollection._id as rightcollection.name for rightcollection in rightcollections">
						</select>
					</div>
				</div>
			</tab>
			
			<tab>
				<tab-heading>Manager</tab-heading>
				
				
			</tab>	
			
			<tab>
				<tab-heading>Administrator</tab-heading>
				
				
			</tab>
			
		</tabset>

	</div>
	<div class="col-md-12 form-group">
		<button class="btn btn-primary" ng-click="saveUser()" translate>Save</button> 
		<button class="btn btn-link" ng-click="cancel()" translate>Cancel</button>
	</div>
</form>
