
<div class="col-md-6 form-group">
    <label for="seniority" translate>Seniority start date</label>
    <input type="text" id="seniority" class="form-control" ng-model="user.roles.account.seniority" data-autoclose="1" container="body" bs-datepicker />
</div>

<div class="form-group col-md-12">
    <input type="checkbox" id="account_notify_approvals" ng-model="user.roles.account.notify.approvals" />
    <label for="account_notify_approvals" translate>Notify on approval</label>
</div>

<div class="form-group col-md-12">
    <input type="checkbox" id="account_notify_allocations" ng-model="user.roles.account.notify.allocations" />
    <label for="account_notify_allocations" translate>Notify on vacation rights allocation</label>
</div>
