<div class="row">
    <div class="col-xs-12 col-sm-3">
        <h3 translate>Roles:</h3>
        
        <p ng-if="user.isAccount">
            <span translate>Absences user account</span>
            <small translate>The user can have vacations rights, absences requests, time saving account ...</small>
        </p>
        
        <p ng-if="user.isAdmin">
            <span translate>Application administrator</span>
            <small translate>The user can manager other users and departments, the application parameters ...</small>
        </p>
        
        <p ng-if="user.isManager">
            <span translate>Department manager</span>
            <small translate>The user may be involved in the validation of requests by the members of his deparment</small>
        </p>
    </div>
    
    <div class="col-xs-12 col-sm-9">
        <h2>{{user.lastname}} {{user.firstname}}</h2>
        
        <p>
            <a href="mailto:{{user.email}}">{{user.email}}</a>
        </p>
        
        <p><span translate>Department:</span> {{user.department.name}}</p>
        
        
        <div ng-if="user.isAccount" ng-include="'partials/admin/user-view-account.html'">
        
    </div>
</div>