<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 ng-if="action=='wf_accept'">
                    <i class="fa fa-thumbs-up"></i>
                    <span translate>Accept</span>
                </h2>
                <h2 ng-if="action=='wf_reject'">
                    <i class="fa fa-thumbs-down"></i>
                    <span translate>Reject</span>
                </h2>
            </div>
            <div class="modal-body">
                <div class="row col-xs-12">
                    <p translate>Confirm and add a comment on your approval</p>
                </div>

                <form role="form">
                    <div class="form-group">
                        <label for="log_comment" translate>Comment</label>
                        <textarea class="form-control" id="log_comment" ng-model="log.comment"></textarea>
                    </div>

                    <button class="btn btn-primary" ng-click="save()"><i class="fa fa-save"></i> <span translate>Save</span></button>
                    <button class="btn btn-link" ng-click="cancel()" translate>Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
