<div class="row">
    <h1 class="col-xs-8">
        <i class="fa fa-hand-stop-o text-muted"></i>
        <span translate>Waiting {{request.dispType}} request</span>
    </h1>

    <div class="col-xs-4 text-right top30">
        <button class="btn btn-primary" type="button" ng-click="accept()">
            <i class="fa fa-thumbs-up"></i>
            <span class="hidden-xs"> <span translate>Accept</span></span>
        </button>
        <button class="btn btn-danger" type="button" ng-click="reject()">
            <i class="fa fa-thumbs-down"></i>
            <span  class="hidden-xs"> <span translate>Reject</span></span>
        </button>
    </div>
</div>

<ng-include ng-if="request.absence.distribution.length>0" src="'partials/utils/common/request/absence-view.html'"></ng-include>
<ng-include ng-if="request.time_saving_deposit.length>0" src="'partials/utils/common/request/time-saving-deposit-view.html'"></ng-include>
<ng-include ng-if="request.workperiod_recover.length>0" src="'partials/utils/common/request/workperiod-recover-view.html'"></ng-include>
