<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <h4 class="modal-title pad15" translate>Create the first user</h4>
            <div class="modal-body">

                <div class="text-center text-primary">
                    <span class="fa-stack fa-lg" style="font-size:400%">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
                    </span>
                </div>

                <div class="pad15">
                    <p translate>Congratulation, this server has just been created and contain no users, please do not leave it that way.</p>
                    <p class="top30 text-center">
                        <button class="btn btn-primary btn-lg" ng-click="createFirstAdmin()" translate>Create first administrator</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
