<h1 translate>Wellcome to Gadael</h1>


<div class="top30 jumbotron">
    <div class="row">
        <div class="col-md-3 text-center hidden-sm hidden-xs top60">
            <span class="fa-stack fa-lg" style="font-size:600%; color:#ccc">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
            </span><br />

            <i class="fa fa-paper-plane" style="font-size:600%; position:relative; top:-60px; bottom:-60px; left:60px; color:#fff"></i>
        </div>
        <div class="col-md-9">

            <h2 class="text-primary" translate>Invite new members to your application</h2>
            <ul class="top60">
                <li translate>Create a new department</li>
                <li translate>Add a list of of email addresses and send the invitations</li>
                <li translate>The users will create their accounts on their first connexion!</li>
            </ul>
            <p class="text-center top60">
                <a class="btn btn-primary btn-lg" ng-href="/#/admin/invitation-edit"><i class="fa fa-gift"></i> &nbsp;<span translate>Send invitations</span></a>
            </p>
        </div>
    </div>
</div>


<p class="top60" translate>Your only role on the application is administrator, you can update your own account using the administration ➤ users menu</p>


<div class="row top30">
    <div class="col-sm-4 top30 text-center">
        <a href="#/admin/user-edit" class="btn btn-default btn-block btn-lg"><i class="fa fa-plus"></i> <span translate>New user</span></a>
    </div>
    <div class="col-sm-4 top30 text-center">
        <a href="#/admin/department-edit" class="btn btn-default btn-block btn-lg"><i class="fa fa-plus"></i> <span translate>New department</span></a>
    </div>
    <div class="col-sm-4 top30 text-center">
        <a href="#/admin/rights" class="btn btn-info btn-block btn-lg"><i class="fa fa-balance-scale"></i> <span translate>Edit leave right</span></a>
    </div>
</div>
