<div class="col-md-2 hidden-sm hidden-xs bs-sidebar">

    <ul class="nav bs-sidenav"  data-offset-top="-10" bs-affix>
      <li ng-repeat="year in cal.nav.years" data-target="#month{{year.y}}{{year.months[0].m}}" bs-scrollspy>
        <a href="" ng-click="scrollTo('month'+year.y+year.months[0].m)">{{year.y}}</a>
        <ul class="nav">
          <li ng-repeat="month in year.months" data-target="#month{{year.y}}{{month.m}}" bs-scrollspy>
              <a href="" ng-click="scrollTo('month'+year.y+month.m)">{{month.label}}</a>
            </li>
        </ul>
      </li>
    </ul>

</div>


<div class="col-md-10 calendar" scroll="loadMoreData()">

    <div class="header row hidden-xs">
        <div class="weeknumber hidden-xs">&nbsp;</div>
        <div class="day col-sm-1 col-xs-3" translate>Monday</div>
        <div class="day col-sm-1 col-xs-3" translate>Thusday</div>
        <div class="day col-sm-1 col-xs-3" translate>Wednesday</div>
        <div class="day col-sm-1 col-xs-3" translate>Thursday</div>
        <div class="day col-sm-1 col-xs-3" translate>Friday</div>
        <div class="day col-sm-1 col-xs-3" translate>Saturday</div>
        <div class="day col-sm-1 col-xs-3" translate>Sunday</div>
    </div>


    <div class="week row" ng-repeat="week in cal.calendar.weeks">

        <div class="weeknumber text-muted hidden-xs" id="{{week.id}}">{{week.label}}</div>

        <div class="day col-sm-1 col-xs-3" ng-repeat="day in week.days">
            {{day.label}}
        </div>
    </div>
</div>
