<div ng-init="request = getRequest(event.request)">

    <p>
            <img ng-src="{{request.user.id.imageUrl}}" ng-if="request.user.id.imageUrl" height="28" class="img-rounded" align="left" style="margin-right:.8em;" />
            <strong>{{event.request.user.name}}</strong>
    </p>



    <dl class="top30">
        <dt translate>From</dt> <dd>{{request.events[0].dtstart|date:'medium'}}</dd>
        <dt translate>To</dt> <dd>{{request.events[request.events.length-1].dtend|date:'medium'}}</dd>
    </dl>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="elem in request.absence.distribution">
            <span class="badge">{{elem.consumedQuantity}} {{elem.right.dispUnit}}</span>
            <i class="fa fa-asterisk" style="color:{{elem.right.type.color}}" title="{{elem.right.type.name}}"></i> {{elem.right.name}}&nbsp;
        </li>
    </ul>

    <p class="text-right">
        <span class="label label-primary">{{request.status.title}}</span>
    </p>

    <p class="top20">
            <small>Created the {{event.timeCreated|date}}<br />
            by {{event.request.createdBy.name}}</small>
    </p>

    <p class="text-center">
        <a class="btn btn-info hidden-print" ng-href="#/{{who}}/requests/absences/{{event.request._id}}">
            <i class="fa fa-plus-circle"></i> <span translate>View more</span>
        </a>
    </p>

</div>
