<h2 translate>Export in XLSX spreadsheet</h2>

<form role="form">

    <div class="form-group">
        <div class="radio">
            <label><input type="radio" ng-model="type" value="requests"> <span translate>Export requests</span></label>
        </div>
        <div class="radio">
            <label><input type="radio" ng-model="type" value="balance"> <span translate>Export balance</span></label>
        </div>
    </div>


    <ng-include ng-if="type=='requests'" src="'partials/utils/common/exports/export-edit.html'"></ng-include>

    <div ng-if="type=='balance'" class="form-group">

        <label for="exportMoment" translate>Balance state the:</label>

        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
            <input id="exportMoment" class="form-control" ng-model="moment" bs-datepicker type="text" data-autoclose="1" />
        </div>

    </div>



    <button class="btn btn-primary" ng-click="download()">
        <i class="fa fa-download"></i> <span translate>Download</span>
    </button>
    <a id="downloadLink" href="{{downloadUrl}}"></a>
    <button class="btn btn-link" ng-click="cancel()" translate>Cancel</button>
</form>
