<h1><i class="fa fa-cloud-download text-muted"></i> <span translate>Export for Sage</span></h1>

<form role="form">

    <ng-include class="col-md-4" src="'partials/utils/common/exports/export-edit.html'"></ng-include>

    <div class="col-md-8 top15">
        <strong translate>Get only periods from the following types:</strong>
        <div ng-repeat="type in types" class="checkbox">
            <label><input type="checkbox" value="{{type._id}}" ng-model="type.checked" /> {{type.name}}</label>
        </div>
    </div>

    {{selectedtypes}}

    <div class="col-md-12 top30">
        <button class="btn btn-primary" ng-click="download()"><i class="fa fa-download"></i> <span translate>Download</span></button>
        <a id="downloadLink" href="{{downloadUrl}}"></a>
        <button class="btn btn-link" ng-click="cancel()" translate>Cancel</button>
    </div>
</form>
