<div class="row">

    <div class="jumbotron">
        <img src="images/exports/xlsx.png" align="right" alt="logo" />
        <h2 translate>Export to a spreadsheet</h2>
        <p translate>Export requests between two dates for all your users or a balance status of all your users rights on a specific date. The output format is a spreadsheet in the Office Open XML format (.xlsx)</p>
        <p><a class="btn btn-primary btn-lg" href="#/admin/export-edit-xlsx" role="button" translate>Continue</a></p>
    </div>

    <div class="jumbotron">
        <img src="images/exports/sage.png" align="right" alt="logo" />
        <h2 translate>Export to sage</h2>
        <p translate>Export requests for your monthy payroll in sage, only users with the sage registration number set will be exported</p>
        <p><a class="btn btn-primary btn-lg" href="#/admin/export-edit-sage" role="button" translate>Continue</a></p>
    </div>

</div>
