
<div class="form-group">
    <label for="exportFrom" translate>Begin date</label>
    <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
        <input id="exportFrom" class="form-control" ng-model="period.from" bs-datepicker type="text" data-autoclose="1" required="required" />
    </div>

</div>


<div class="form-group">

    <label for="exportTo" translate>End date</label>

    <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
        <input id="exportTo" class="form-control" ng-model="period.to" bs-datepicker type="text" data-autoclose="1" required="required" />
    </div>

</div>
