<div class="_jumbotron">

    <div ng-if="!sessionUser.isAuthenticated">
        <h2 translate>Wellcome to your absence manager</h2>
        <p translate>Please log into the application to see your account informations</p>
    </div>

    <div ng-if="sessionUser.isAccount">
        <h2 translate>My account</h2>


        <div class="col-lg-8 col-sm-6 col-xs-12">
            <div class="gadael-list-rows">
                <div class="row" ng-repeat="renewal in renewals">
                    <strong translate>Up to {{renewal.finish|date}}</strong>

                    <div ng-repeat="beneficiary in renewal.beneficiaries" class="row">
                        <div class="col-xs-3">{{beneficiary.available_quantity|number}} {{beneficiary.available_quantity_dispUnit}}</div>
                        <div class="col-xs-9">
                            <a ng-href="#/account/beneficiaries/{{beneficiary._id}}">
                                <i title="{{beneficiary.right.type.name}}" class="fa fa-asterisk" style="color:{{beneficiary.right.type.color}}"></i> {{beneficiary.right.name}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="col-lg-4 col-sm-6 hidden-xs">
            <h3 class="text-info text-center donutcharttitle">{{renewalChart.availableDays|number}}
                <span translate translate-n="renewalChart.availableDays" translate-plural="days">day</span><br />
                <small>{{renewalChart.percentDays|number}}% consumed</small>
            </h3>

            <nvd3-pie-chart
                data="renewalChart.days"
                id="daysChart"
                width="400"
                height="400"
                x="renewalChart.xFunction()"
                y="renewalChart.yFunction()"
                color="renewalChart.colorFunction()"
                noData="'No ongoing renewal with rights'"
                tooltips="true"
                tooltipcontent="renewalChart.toolTipContentFunction()"
                donut="true"
                showLabels="true"
                >
                <svg height="250"></svg>
            </nvd3-pie-chart>

        </div>



    </div>


    <div class="top30" ng-if="sessionUser.isManager">

        <h2 translate>Manager</h2>

        <div class="text-right">
            <span ng-if="waitingrequests.length == 0"><span translate>Nothing to approve</span></span>
            <a href="#/manager/waitingrequests" ng-if="waitingrequests.length > 0">
              <span translate>Requests waiting for approval</span> <span class="badge">{{waitingrequests.length}}</span>
            </a>
        </div>


        <div class="">
            Get managed services
        </div>

    </div>

</div>

<div class="top30 col-xs-12 gadael-department" ng-if="sessionUser.department">

    <h3><i class="fa fa-calendar text-info"></i> <span translate>My department: {{sessionUser.department.name}}</span></h3>

    <ng-include src="'partials/utils/common/department/nextweek.html'"></ng-include>
</div>
