<div class="jumbotron">
    

    <div ng-if="!sessionUser.isAuthenticated">
        <h2 translate>Wellcome to your absence manager</h2>
        <p translate>Please log into the application to see your account informations</p>
    </div>

    <div ng-if="sessionUser.isAccount">
        <h2 translate>My account</h2>

        View a planning
    </div>
    
    <div ng-if="sessionUser.isAdmin">
        <h2 translate>Administrator</h2>

        Get list of last actions
    </div>
    
    <div ng-if="sessionUser.isManager">
        <h2 translate>Manager</h2>

        Get managed services
    </div>

</div>


<h2>{{sessionUser.department.name}}</h2>

<div class="inga-list-rows">
    <table class="table">
        <thead>
            <tr>
                <td></td>
                <td></td>
                <th class="text-center" ng-repeat="col in collaborators[0].days" ng-class="{'hidden-xs': $index>7 }">
                    {{col.date|date:'d'}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="collaborator in collaborators" class="row">
                <th>
                    <img class="img-rounded" ng-src="{{collaborator.image}}" title="{{collaborator.lastname}} {{collaborator.firstname}}" height="35" />
                    <i class="fa fa-user" ng-if="!collaborator.image" title="{{collaborator.lastname}} {{collaborator.firstname}}"></i>
                    <span class="hidden-sm hidden-xs">{{collaborator.lastname}} {{collaborator.firstname}}</span>
                </th>

                <td class="text-center" ng-repeat="col in collaborators[0].days"  ng-class="{'danger': col.freebusy, 'success': !col.freebusy, 'hidden-xs': $index>7 }">

                </td>
            </tr>
        </tbody>
    </table>
</div>
