<div class="row">
	<div class="col-sm-6">
		<div class="page-header">
			<h1 translate>Sign In</h1>
		</div>
		<div id="login">
			<form>
				<div class="alerts"></div>
				<div class="form-group ">
					<label translate>Username or Email:</label><input type="text"
						class="form-control" value="" name="username"><span
						class="help-block"></span>
				</div>
				<div class="form-group ">
					<label translate>Password:</label><input type="password" class="form-control"
						value="" name="password"><span class="help-block"></span>
				</div>
				<div class="form-actions">
					<button class="btn btn-primary btn-login" type="button" translate>Sign In</button>
					&nbsp;<a class="btn btn-link" href="/login/forgot/" translate>Forget your password?</a>
				</div>
			</form>
		</div>
		<hr>
		<p translate>Or sign in using...</p>
		<div class="form-actions">
			<div class="btn-group btn-group-justified">
				<a class="btn btn-info" href="/login/google/"><i class="fa fa-google fa-lg"></i> Google</a>
				<a class="btn btn-info" href="/login/twitter/"><i class="fa fa-twitter fa-lg"></i> Twitter</a>
				<a class="btn btn-info" href="/login/github/"><i class="fa fa-github fa-lg"></i> GitHub</a>
				<a class="btn btn-info" href="/login/facebook/"><i class="fa fa-facebook-square fa-lg"></i> Facebook</a>
			</div>
		</div>
	</div>
</div>
