<div class="row">
	<div class="col-sm-6">
		<div class="page-header">
			<h1>Sign Up</h1>
		</div>
		<div id="signup">
			<form>
				<div class="alerts"></div>
				<div class="form-group ">
					<label>Pick a Username:</label><input type="text"
						class="form-control" value="" name="username"><span
						class="help-block"></span>
				</div>
				<div class="form-group ">
					<label>Enter Your Email:</label><input type="text"
						class="form-control" value="" name="email"><span
						class="help-block"></span>
				</div>
				<div class="form-group ">
					<label>Create a Password:</label><input type="password"
						class="form-control" value="" name="password"><span
						class="help-block"></span>
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-signup" type="button">Create
						My Account</button>
				</div>
			</form>
		</div>
		<hr>
		<p>Or sign up using...</p>
		<div class="btn-group btn-group-justified">
			<a class="btn btn-info" href="/signup/twitter/"><i
				class="fa fa-twitter fa-lg"></i> Twitter</a><a class="btn btn-info"
				href="/signup/github/"><i class="fa fa-github fa-lg"></i> GitHub</a><a
				class="btn btn-info" href="/signup/facebook/"><i
				class="fa fa-facebook-square fa-lg"></i> Facebook</a>
		</div>
	</div>
	<div class="col-sm-6 marketing">
		<div class="page-header">
			<h1>Campy Benefits</h1>
		</div>
		<p class="lead">Really, you will love it inside. It's super great!</p>
		<i class="fa fa-thumbs-o-up super-awesome"></i>
	</div>
</div>