<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">Create a request</h4>
            </div>
            <div class="modal-body">
                
                <ng-include src="'partials/utils/common/request/request-create-select-type.html'"></ng-include>
            </div>
        </div>
    </div>
</div>