<div class="row">
    <h1 class="col-md-6">
        <span translate>Workperiod recover request</span>
    </h1>

    <div class="col-md-6 text-right top30">
        <button class="btn btn-primary" ng-click="edit()"><i class="glyphicon glyphicon-edit"></i> <span>Edit</span></button>
        <button class="btn btn-danger" ng-click="delete()"><i class="glyphicon glyphicon-remove"></i> <span>Delete</span></button>
    </div>
</div>
<ng-include src="'partials/utils/common/request/workperiod-recover-view.html'"></ng-include>
