<div ng-if="periodSelection">

    <div tp-teleperiod>
        <tp-period-picker workingtimes="loadWorkingTimes" events="loadEvents" dtstart="selection.begin" dtend="selection.end" periods="selection.periods"></tp-period-picker>
        <tp-timeline name="Scholar holidays" events="loadScholarHolidays"></tp-timeline>
    </div>

    <form class="form-inline" role="form">

        <div class="col-sm-7">
            <div class="form-group top17">
                <div class="input-group">
                    <label class="sr-only" for="absenceBeginDate">Begin date</label>
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    <input id="adbsenceBeginDate" class="form-control" ng-model="selection.begin" bs-datepicker type="date" placeholder="{{'Begin date'|translate}}" data-autoclose="1" />
                </div>

                <div class="input-group">
                    <label class="sr-only" for="absenceBeginHour">Begin hour</label>
                    <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                    <input id="absenceBeginHour" class="form-control" ng-model="selection.begin" bs-timepicker type="text" size="5" maxsize="5" placeholder="{{'Hour'|translate}}" />
                </div>
            </div>


            <div class="form-group top17">
                <div class="input-group">
                    <label class="sr-only" for="absenceEndDate">End date</label>
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    <input id="adbsenceEndDate" class="form-control" ng-model="selection.end" bs-datepicker type="date" placeholder="{{'End date'|translate}}" data-autoclose="1" />
                </div>

                <div class="input-group">
                    <label class="sr-only" for="absenceEndHour">End hour</label>
                    <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                    <input id="absenceEndHour" class="form-control" ng-model="selection.end" bs-timepicker type="text" size="5" maxsize="5" placeholder="{{'Hour'|translate}}" />
                </div>
            </div>
        </div>
        
        <div class="col-sm-5">
            <h4 translate>Selected duration:</h4>
            <p>{{selection.duration}}</p>
            
            <p translate>Consumption on the selected period: {{selection.days}} or {{selection.hours}}</p>
        </div>
        
        <div class="col-sm-12 top30">
            <button class="btn btn-primary" ng-disabled="!selection.end || !selection.begin" ng-click="next()" translate>Continue</button>
        </div>
    </form>
</div>

<div ng-if="assignments">
    
    <div class="row">
        <p translate>From to {{selection.begin|date:'medium'}}, to the {{selection.end|date:'medium'}}</p>
        <p translate>Collection on the selected period: {{collection.name}}</p>
        <p class="text-primary" translate>Your period selection of {{selection.days}} (or {{selection.hours}}) must be distribued into the following vacation rights</p>
    </div>

    <form class="form-horizontal" role="form">
        
        <table class="table absence-edit-distribution">
        

            <tbody>
                <tr class="form-group" ng-repeat="accountRight in accountRights">

                    <td ng-class="distribution.class[accountRight._id]" class="input-group">
                        <input id="ar{{accountRight._id}}" type="number" class="form-control" ng-model="distribution.right[accountRight._id]" step="any" min="0" />
                        <span class="input-group-addon">{{accountRight.disp_unit}}</span>
                    </td>
                    
                    <td>
                        <label for="ar{{accountRight._id}}" class="control-label">{{accountRight.name}}</label>
                    </td>

                    <td class="hidden-xs">
                        {{accountRight.available_quantity | number}} {{accountRight.available_quantity_dispUnit}}
                    </td>
                </tr>
            </tbody>

            <thead>
                <tr>
                    <th class="col-sm-2">Distribution</th>
                    <th>My rights</th>
                    <th class="hidden-xs">Available quantity</th>
                </tr>
            </thead>
            
            <tfoot>
                <tr>
                    
                    <td>{{distribution.total}}</td>
                    <td></td>
                    <td class="hidden-xs">{{available.total}}</td>
                </tr>
            </tfoot>
            
        </table>

        <button class="btn btn-primary" ng-click="saveAbsence()" ng-disabled="!distribution.completed" translate>Save</button>
        <button class="btn btn-link" ng-click="back()" translate>Cancel</button>
        
    </form>
</div>
