<div class="row panel panel-primary">
    <div class="col-md-6">
        <h3><i class="fa fa-calendar"></i> <span translate>Absence period</span></h3>

        <p class="row top20">
            <span class="col-md-1">From</span>
            <span class="col-md-11">{{request.events[0].dtstart|date:'medium'}}</span>
        </p>
        <p class="row">
            <span class="col-md-1">To</span>
            <span class="col-md-11">{{request.events[request.events.length-1].dtend|date:'medium'}}</span>
        </p>
        <br />
    </div>

    <div class="col-md-6 top10">
        <p class="row top20">
            <span translate>Total consumption</span> {{stat.consumed.D}} Days
        </p>

        <p class="row top20" ng-if="request.total.duration!==request.total.consumed">
            <span translate>Total duration</span> {{stat.duration.D}} Days
        </p>

        <p class="row" ng-if="request.absence.distribution.length===1">
            <i class="fa fa-asterisk"
               style="color:{{request.absence.distribution[0].right.type.color}}"
               title="{{request.absence.distribution[0].right.type.name}}"></i>
            {{request.absence.distribution[0].right.name}}
        </p>
    </div>
</div>



<div class="row top30" ng-if="request.absence.distribution.length>1">
    <h4 class="text-info"><i class="fa fa-book"></i> <span translate>Rights distribution</span></h4>
    <div class="inga-list-rows">
        <div class="row" ng-repeat="element in request.absence.distribution">
            <div class="col-md-1">{{element.quantity}} {{element.right.dispUnit}}</div>
            <div class="col-md-5"><i class="fa fa-asterisk" style="color:{{element.right.type.color}}" title="{{element.right.type.name}}"></i> {{element.right.name}}</div>
            <div class="col-md-6 hidden-xs hidden-sm">
                <span class="col-md-2">From</span> <span class="col-md-10">{{element.event.dtstart|date:'medium'}}</span>
                <span class="col-md-2">To</span>   <span class="col-md-10">{{element.event.dtend|date:'medium'}}</span>
            </div>
        </div>
    </div>
</div>

<ng-include src="'partials/utils/common/request/request-view-embed.html'"></ng-include>





