
    <div class="form-group">
        <div class="input-group">
            <label class="sr-only" for="absenceBeginDate">Begin date</label>
            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
            <input id="adbsenceBeginDate" class="form-control" ng-model="selection.begin" bs-datepicker type="text" placeholder="{{'Begin date'|translate}}" data-autoclose="1" />
        </div>

        <div class="input-group">
            <label class="sr-only" for="absenceBeginHour">Begin hour</label>
            <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
            <input id="absenceBeginHour" class="form-control" ng-model="selection.begin" bs-timepicker type="text" size="5" maxsize="5" placeholder="{{'Hour'|translate}}" />
        </div>
    </div>


    <div class="form-group top30">
        <div class="input-group">
            <label class="sr-only" for="absenceEndDate">End date</label>
            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
            <input id="adbsenceEndDate" class="form-control" ng-model="selection.end" bs-datepicker type="text" placeholder="{{'End date'|translate}}" data-autoclose="1" />
        </div>

        <div class="input-group">
            <label class="sr-only" for="absenceEndHour">End hour</label>
            <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
            <input id="absenceEndHour" class="form-control" ng-model="selection.end" bs-timepicker type="text" size="5" maxsize="5" placeholder="{{'Hour'|translate}}" />
        </div>
    </div>
