<div ng-if="request.absence.distribution.length == 1">
    <i class="fa fa-calendar text-primary"></i> <i class="fa fa-asterisk" style="color:{{request.absence.distribution[0].right.type.color}}" title="{{request.absence.distribution[0].right.type.name}}"></i> <strong>{{request.absence.distribution[0].right.name}} </strong>
    <div>{{request.absence.compulsoryLeave.name}}</div>
    <div class="row">
        <span class="col-xs-3" translate>From</span> {{request.events[0].dtstart|date:'medium'}}<br />
        <span class="col-xs-3" translate>To</span> {{request.events[request.events.length-1].dtend|date:'medium'}}
    </div>
</div>
<div ng-if="request.absence.distribution.length > 1">
    <i class="fa fa-calendar text-primary"></i> <strong translate>Absence</strong>
    <div>{{request.absence.compulsoryLeave.name}}</div>
    <div class="row">
        <span class="col-xs-3" translate>From</span> {{request.events[0].dtstart|date:'medium'}}<br />
        <span class="col-xs-3" translate>To</span> {{request.events[request.events.length-1].dtend|date:'medium'}}
    </div>
</div>


<div ng-if="request.workperiod_recover.length > 0">
    <i class="fa fa-undo text-primary"></i> <strong translate>Overtime declaration</strong>
    <div class="row">
        <span class="col-xs-3" translate>From</span> {{request.events[0].dtstart|date:'medium'}}<br />
        <span class="col-xs-3" translate>To</span> {{request.events[request.events.length-1].dtend|date:'medium'}}<br />
        <span class="col-xs-12">{{request.workperiod_recover[0].summary}}</span>
    </div>
</div>

<div ng-if="request.time_saving_deposit.length > 0">
    <i class="fa fa-clock-o text-primary"></i> <strong translate>Time saving deposit</strong>
    <div class="row" ng-repeat="deposit in request.time_saving_deposit">
        <div class="col-xs-3 text-info">
            <span ng-switch="deposit.quantity_unit">
                <span ng-switch-when="D"><span translate translate-n="deposit.quantity" translate-plural="{{deposit.quantity| number}} days">1 day</span></span>
                <span ng-switch-when="H"><span translate translate-n="deposit.quantity" translate-plural="{{deposit.quantity| number}} hours">1 hour</span></span>
            </span>
        </div>
        <div class="col-xs-9">
            <span title="{{'From right'|translate}}" class="text-primary fa fa-sign-out"></span> {{deposit.from.name}}<br />
            <span title="{{'To right'|translate}}" class="text-primary fa fa-sign-in"></span> {{deposit.to.name}}
        </div>
    </div>
</div>
