<div class="col-md-12">
    <h4 translate>Proceed to the request creation with one of the following:</h3>
</div>

<div class="row">
    <div class="col-md-4">
        <button 
            type="button" 
            class="btn btn-primary btn-sm btn-block" 
            ng-click="$hide(); goto('absence')" 
            translate>Absence request</button>
    </div>
    <div class="col-md-4">
        <button 
            type="button" 
            class="btn btn-primary btn-sm btn-block" 
            ng-click="$hide(); goto('time-saving-deposit')" 
            translate>Time saving account deposit</button>
    </div>
    <div class="col-md-4">
        <button 
            type="button" 
            class="btn btn-primary btn-sm btn-block" 
            ng-click="$hide(); goto('workperiod-recover')" 
            translate>Working time recover request</button>
    </div>
</div>