<div>
    <h4 translate>Proceed to the request creation with one of the following:</h4>


    <div class="top30">

        <p translate>Create absence request between two dates, the request will be sent to your supervisor for approval</p>

        <button
            type="button"
            class="btn btn-primary btn-block"
            ng-click="$hide(); goto('absence')"
            translate>Absence request</button>
    </div>

    <div class="top30" ng-if="timeSavingAccounts.length > 0">

        <p translate>Move some of your vacation rights to your time saving account, the request will be sent to your supervisor for approval</p>

        <button
            type="button"
            class="btn btn-primary btn-block"
            ng-click="$hide(); goto('time-saving-deposit')"
            translate>Time saving account deposit</button>
    </div>

    <div class="top30" ng-if="company.workperiod_recover_request">

        <p translate>Declare a worked period outside of your working hours, the request will be sent to your supervisor for approval and increase your overtime account</p>

        <button
            type="button"
            class="btn btn-primary btn-block"
            ng-click="$hide(); goto('workperiod-recover')"
            translate>Overtime declaration</button>
    </div>
</div>
