<div class="row panel panel-default line4 top10">
    <div class="panel-body top10">
        <div class="col-md-6 top10">
            <dl class="dl-horizontal">
                <dt translate>From:</dt>
                <dd>{{request.events[0].dtstart|date:'medium'}}</dd>
                <dt translate>To:</dt>
                <dd>{{request.events[request.events.length-1].dtend|date:'medium'}}</dd>
            </dl>
            <br />
        </div>

        <div class="col-md-6 top10">

            <dl class="dl-horizontal">
                <dt translate>Status:</dt>                  <dd>{{request.status.title}}</dd>
                <dt translate>Worked duration:</dt>         <dd>{{request.workperiod_recover[0].quantity| number}}
                                                            <span ng-if="request.workperiod_recover[0].right">{{request.workperiod_recover[0].right.quantity_dispUnit}}</span>
                                                            <span ng-if="!request.workperiod_recover[0].right" translate>Hours</span></dd>
            </dl>

            <dl class="dl-horizontal" ng-if="request.workperiod_recover[0].recoverQuantity">
                <dt translate>Selected recovery:</dt>       <dd>{{request.workperiod_recover[0].recoverQuantity.name}}</dd>
                <dt translate>Entitlement quantity:</dt>    <dd>{{request.workperiod_recover[0].gainedQuantity| number}} {{request.workperiod_recover[0].right.quantity_dispUnit}}</dd>
                <dt translate>Right given name:</dt>        <dd>{{request.workperiod_recover[0].right.name}}</dd>
            </dl>
        </div>
    </div>
    <div class="col-md-12">{{request.workperiod_recover[0].summary}}</div>
</div>


<ng-include src="'partials/utils/common/request/request-view-embed.html'"></ng-include>
