
<div tp-teleperiod>
    <tp-period-picker
                      workingtimes="loadNonWorkingTimes"
                      events="loadEvents"
                      dtstart="selection.begin"
                      dtend="selection.end"
                      focusdate="selection.begin"
                      periods="selection.periods"
                      selectedevents="request.events"
                      dayFirstMinute="0"
                      dayLastMinute="1439"></tp-period-picker>
</div>

<form class="form-inline" role="form">

    <div class="col-sm-7">
        <div class="form-group top17">
            <div class="input-group">
                <label class="sr-only" for="absenceBeginDate">Begin date</label>
                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                <input id="adbsenceBeginDate" class="form-control" ng-model="selection.begin" bs-datepicker type="text" placeholder="{{'Begin date'|translate}}" data-autoclose="1" />
            </div>

            <div class="input-group">
                <label class="sr-only" for="absenceBeginHour">Begin hour</label>
                <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                <input id="absenceBeginHour" class="form-control" ng-model="selection.begin" bs-timepicker type="text" size="5" maxsize="5" placeholder="{{'Hour'|translate}}" />
            </div>
        </div>


        <div class="form-group top17">
            <div class="input-group">
                <label class="sr-only" for="absenceEndDate">End date</label>
                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                <input id="adbsenceEndDate" class="form-control" ng-model="selection.end" bs-datepicker type="text" placeholder="{{'End date'|translate}}" data-autoclose="1" />
            </div>

            <div class="input-group">
                <label class="sr-only" for="absenceEndHour">End hour</label>
                <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                <input id="absenceEndHour" class="form-control" ng-model="selection.end" bs-timepicker type="text" size="5" maxsize="5" placeholder="{{'Hour'|translate}}" />
            </div>
        </div>
    </div>

    <div class="col-sm-5">
        <h4 translate>Selected duration:</h4>
        <p>{{selection.duration}}</p>

        <p translate>Consumption on the selected period: {{selection.days}} or {{selection.hours}}</p>
    </div>

    <div class="col-sm-12 top30">
        <button class="btn btn-primary" ng-disabled="!selection.end || !selection.begin" ng-click="save()" translate>Save</button>
    </div>
</form>

