

.gadael-list-rows > .row:first-child,
.gadael-row:first-child {
	border-top:#ccc 1px dotted;
}

.gadael-list-rows > .row,
.gadael-row {
	padding:.8em 0;
	border-bottom:#ccc 1px dotted;
}

.paginate-anything ul {
    margin: 0;
    padding: 0;
}


.pad5 { padding:5px; }
.pad7 { padding:7px; }
.pad10 { padding:10px; }
.pad15 { padding:15px; }

.vpad5 { padding-top:5px;   padding-bottom:5px; }
.vpad7 { padding-top:7px;   padding-bottom:7px; }
.vpad10 { padding-top:10px; padding-bottom:10px; }
.vpad15 { padding-top:15px; padding-bottom:15px; }

.left5 { margin-left:5px; }
.left7 { margin-left:7px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left17 { margin-left:17px; }
.left30 { margin-left:30px; }
.left40 { margin-left:40px; }
.left50 { margin-left:50px; }
.left60 { margin-left:60px; }


.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.top40 { margin-top:40px; }
.top50 { margin-top:50px; }
.top60 { margin-top:60px; }


.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom17 { margin-bottom:17px; }
.bottom30 { margin-bottom:30px; }
.bottom40 { margin-bottom:40px; }
.bottom50 { margin-bottom:50px; }
.bottom60 { margin-bottom:60px; }


.gadael-list-header {
	background-image: linear-gradient(to bottom, #eee 0px, #f8f8f8 100%);
    background-repeat: repeat-x;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    padding:0;
}

.gadael-list-header>* {
	margin:.8em 0;
}


.vgradiant {
    background-image: linear-gradient(to bottom, transparent 0px, #f5f5f5 100%);
    background-repeat: repeat-x;
}


/* Cleanup angular-strap datepicker */

.datepicker.dropdown-menu {
  width: 250px;
  height: 250px;
}
.datepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}
.datepicker.dropdown-menu tbody {
  height: 180px;
}
.datepicker.dropdown-menu tbody button {
  padding: 6px;
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button {
  height: 65px;
}

.timepicker.dropdown-menu {
  padding: 0 4px;
}
.timepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}
.timepicker.dropdown-menu tbody button {
  padding: 6px;
}


.popover-button-list {
    overflow:auto;
    max-height:15em;
    margin-top:.5em
}

.popover-button-list button {
    color:#333;
    background: #fff;
    border: medium none;
    margin: 0 !important;
    padding: 0.1em 0.1em 0.1em 1em;
}

.popover-button-list button:hover {
    background-image: linear-gradient(to bottom, #428bca 0px, #2d6ca2 100%);
    background-repeat: repeat-x;
    color:#fff;
}



.absence-edit-distribution tfoot {
    font-weight:bold;
}

/* Overwrite default from bootstrap */
.absence-edit-distribution td label {
	padding-top:0 !important;
}

.absence-edit-distribution > tbody > tr > th,
.absence-edit-distribution > tbody > tr > td {
     vertical-align: middle;
}

.navbar-nav > li > .user-dropdown-menu img {
    margin-top:-10px;
    margin-bottom:-8px;
}


.pointer {
    cursor:pointer;
}


.gadael-department .table {
    border-spacing: 6px;
    border-collapse: separate;
}

.gadael-department .table th,
.gadael-department .table td {
    border:none;
    vertical-align:middle;
}


.gadael-department .table .nonworkingday {
    opacity:.5;
}


.donutcharttitle {
    margin:0 0 -2em 0;
    padding:0;
    font-weight:bold;
}


.public-home {
	background: #f9f9f9;
	box-shadow: 0px 0px 30px 0px #cfcfcf;
	margin-top: 2em;
}

.public-home .top-gradiant {
	background: linear-gradient(to bottom, transparent 0%,transparent 85%,#eee 100%);
	padding-bottom: 2em;
}

.public-home .bottom-gradiant {
	background: linear-gradient(to bottom, #eee 0%,transparent 5%,transparent 100%);
	padding-top: 3em;
}

.public-header-text {
	padding: 1em 2em;
}

.public-home-app-infos {
	height: 15em;
	background: #98cee8;
	color: #fff;
	padding: 2em;
	position: relative;
}

.public-home-app-infos h3 {
	font-size: 3em;
	text-shadow: 1px 1px 2px #aaa;
	margin-top: 0;
}

.public-home-app-infos .icon-position {
	position: absolute;
	top: -3em;
	right: 6em;
	border-radius: 8px;
	background: #bcb59c;
	color: #fff;
	text-align: center;
	width: 128px;
	border: #fff 5px solid;
	padding-top: 2em;
	padding-bottom: 2em;
}


.home-text {
	padding: 1.5em 1em 2em 1em;
	color: #666;
	font-size: 1.3em;
}


.public-footer {
	margin-top: 4em;
	color: #999;
	padding: 1em 2em 1em 2em;
	text-align: right;
}

.public-footer a {
	color: #bcb59c;
}

.public-footer a:hover {
	color: #ef6933;
}

.public-footer i {
	font-size: 2em;
}



/* Calendar navbar */


.bs-sidebar .nav > .active > ul {
    display: block;
}
.bs-sidebar .nav .nav {
    display: none;
    padding-bottom: 10px;
}

.bs-sidebar .nav > li > a:focus,
.bs-sidebar .nav > li > a:hover {
    padding-right: 14px;
    color: #23527C;
    text-decoration: none;
    background-color: transparent;
    border-right: 1px solid #23527C;
}
.bs-sidebar .nav > li > a {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #999;
    padding: 4px 15px;
    text-align: right;
}

.nav > li > a:focus,
.nav > li > a:hover {
    text-decoration: none;
    background-color: #EEE;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 14px 15px;
}

.bs-sidebar .nav > .active:focus > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active > a {
    padding-right: 13px;
    font-weight: 700;
    color: #23527C;
    background-color: transparent;
    border-right: 2px solid #23527C;
}


/* calendar */

.calendar .weeknumber {
    width: 2%;
    float: left;
    padding-top:5px;
    visibility:hidden;
    font-weight:bold;
}

.calendar .week:hover .weeknumber {
    visibility:visible;

}

.calendar .day {
    float: left;
    width: 14%;
}


.calendar .header .day {
    text-align:center;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}

.calendar .week .day .cell {
    height: 6em;
    border: #eee 1px solid;
    margin: 2px;
    padding: 0 2px;
}


/* Calendar views */

.calendar .week .day .cal-outmonth {
    background: #f7f7f7;
    color: #999;
}

.cal-nonworking {
	background: #f2d714;
}

.cal-notscheduled {
	background: #bcb59c;
}

.cal-available {
	background: #c5dce9;
}

.cal-event {
	background: #ef6933;
	color: #fff;
}


/* nextweek calendar preview */

.nextweektable {
	border:#eee 1px solid;
}


.user-35 {
    min-width:35px;
    min-height:35px;
    text-align:center;
    background:#fff;
    border-radius: 6px;
    color:#ccc;
    padding-top:3px;
}




/* Sortable items */

.as-sortable-item {
    margin:.2em 0;
    padding:.2em;
    border:#ddd 1px solid;
}

.as-sortable-item .as-sortable-item-handle {
    padding:.4em;
}


/* vertical alignement for bootstrap blocks
http://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3 */

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-right: -4px;
}



.pw-level1 { background: #ff2929; }
.pw-level2 { background: #ff7601; }
.pw-level3 { background: #fff500; }
.pw-level4 { background: #b6d144; }
.pw-level5 { background: #00ba00; }


body .line1 * { line-height: 1.4em }
body .line2 * { line-height: 1.6em }
body .line3 * { line-height: 1.8em }
body .line4 * { line-height: 2em }
body .line5 * { line-height: 2.2em }
body .line6 * { line-height: 2.4em }


.logo-container {
	height: 38px;
	width: 42px;
	position:relative;
}

.logo-container .loading-indicator {
	margin-top: -14px;
	margin-left: -4px;
	font-size: 35px;
	color: #86c4d5;
	position:absolute;
	top:0;
	left:0;
	opacity: .5
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

/* Teleperiod overwrite */

.teleperiod .day .date, .teleperiod .day .month {
	fill: #888;
}

.teleperiod .buttonarrow {
	fill: #000;
}

.teleperiod .day .event {
	fill: #ef6933;
}

.teleperiod .day .category-nonworking {
    fill: #f2d714;
}

.teleperiod .day rect {
	fill: #f9f9f9;
}
